@import url('https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600|Roboto:300,400,700');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border-collapse: collapse;
  font-family: 'Montserrat', sans-serif;
}

body {
  font-family: sans-serif;
  background-color: white;
  text-align: center;
}

#session {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #e3e3e3;
}

#logo {
  width: 60px;
  height: 57px;
}

#logobutton {
  z-index: 99;
  position: fixed;
  left: 0;
  top: 0;
  border: none;
}

.logobutton {
  position: fixed;
  left: 0;
  top: 0;
  border: none;
  cursor: pointer;
}

.logobutton:active, #logobutton:active, .logobutton:focus, #logobutton:focus {
  box-shadow: none;
  border-style: none;
  outline: none;
}

.MainHeading {
  color: #007EF6;
  font-size: 35px;
  position: fixed;
  top: 0;
  left: 1.9em;
  margin: 0.1em;
  font-weight: 600;
}

#exit {
  z-index: 99;
  position: fixed;
  right: 0;
  top: 0;
  width: 60px;
  height: 60px;
  background-color: white;
  font-weight: 700;
  font-size: 25px;
  color: black;
  padding-top: 15px;
  border: none;
}

.exitButton {
  position: fixed;
  left: 0;
  top: 0;
  border: none;
  cursor: pointer;
}

#steps {
  z-index: 99;
  position: fixed;
  left: 0;
  top: 65%;
  min-width: 25%;
  min-height: 60px;
  background-color: blue;
  font-weight: 600;
  font-size: 25px;
  color: white;
  padding-top: 12px;
  border: none;
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  -webkit-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
}

#steps:hover {
  height: 120px;
  font-size: 35px;
  padding-top: 35px;
}

.stepsButton {
  position: fixed;
  left: 0;
  top: 88%;
  border: none;
  cursor: pointer;
}



#wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  border: 60px black solid;
  -webkit-animation: slide-right 0.3s;
  animation: slide-right 0.3s;
}

@keyframes slide-right {
  from {
    margin-right: 100%;
  }

  to {
    margin-right: 0%;
  }
}

 @-webkit-keyframes slide-right {
   from {
     margin-right: 100%;
   }

   to {
     margin-right: 0%;
   }
 }


.previewButton {
  z-index: 99;
  position: fixed;
  bottom: 0;
}

#buttonContainer {
  width: 100%;
  height: 100%;
  position: absolute;
}

#one {
  display: inline-block;
  position: relative;
  height: 100%;
  width: 20%;
  background-color: #ffffff;
  border: none;
  font-size: 100px;
  font-weight: 700;
}

#one:hover {
  width: 30%;
  background-color: #ff0018;
  cursor: pointer;
}

#buttonContainer:hover > *:not(:hover) {
 width: 17.5%;
}

#two {
  display: inline-block;
  position: relative;
  width: 20%;
  height: 100%;
  background-color: #000000;
  border: none;  font-size: 100px;
  font-weight: 700;
  font-size: 100px;
  color: white;
}

#two:hover {
  width: 30%;
  background-color: #ffe501;
  cursor: pointer;
}

#three {
  display: inline-block;
  position: relative;
  height: 100%;
  width: 20%;
  background-color: #ffffff;
  border: none;
  font-weight: 700;
  font-size: 100px;
}

#three:hover {
  width: 30%;
  background-color: #2020da;
  cursor: pointer;
}

#four {
  display: inline-block;
  position: relative;
  height: 100%;
  width: 20%;
  background-color: #000000;
  border: none;
  font-weight: 700;
  font-size: 100px;
  color: white;
}

#four:hover {
  width: 30%;
  background-color: #0afb04;
  cursor: pointer;
}

#five {
  display: inline-block;
  position: relative;
  height: 100%;
  width: 20%;
  background-color: #ffffff;
  border: none;
  font-weight: 700;
  font-size: 100px;
}

#five:hover {
  width: 30%;
  background-color: #f907eb;
  cursor: pointer;
}

/*//////////////////STEP 1//////////////////////*/

#stepOneContainer {
  background-color: white;
  position: absolute;
  height: 100%;
  width: 100%;
  border: 60px black solid;
  overflow: hidden;
  -webkit-animation: slide-left 0.3s;
  animation: slide-left 0.3s;
  margin-top:0%;
}

@keyframes slide-left {
  from {
    margin-left: 100%;
  }

  to {
    margin-left: 0%;
  }
}

 @-webkit-keyframes slide-left {
   from {
     margin-left: 100%;
   }

   to {
     margin-left: 0%;
   }
 }

h1 {
  font-size: 35px;
  font-weight: 700;
  color: #2020da;
  margin: 50px;
}

#suggestions {
  display:inline-block;
  padding: 2em;
}

.identityContainer {
  width: 50%;
  min-height: 150px;
  background-color: white;
  border: 1px grey solid;
  margin: 0 auto;
  margin-bottom: 80px;
}

/*//////////////////STEP 2//////////////////////*/

#stepTwoContainer {
  background-color: white;
  position: absolute;
  height: 100%;
  width: 100%;
  border: 60px black solid;
  overflow: hidden;
  -webkit-animation: slide-left 0.3s;
  animation: slide-left 0.3s;
}

.audienceContainer {
  width: 50%;
  min-height: 150px;
  background-color: white;
  border: 1px grey solid;
  margin: 0 auto;
  margin-bottom: 80px;
}

/*//////////////////STEP 3//////////////////////*/

#stepThreeContainer {
  background-color: white;
  position: absolute;
  height: 100%;
  width: 100%;
  border: 60px black solid;
  overflow: hidden;
  -webkit-animation: slide-left 0.3s;
  animation: slide-left 0.3s;
}

.tovContainer {
  width: 50%;
  min-height: 150px;
  background-color: white;
  border: 1px grey solid;
  margin: 0 auto;
  margin-bottom: 80px;
}

/*//////////////////STEP 4//////////////////////*/

#stepFourContainer {
  background-color: white;
  position: absolute;
  height: 100%;
  width: 100%;
  border: 60px black solid;
  overflow: hidden;
  -webkit-animation: slide-left 0.3s;
  animation: slide-left 0.3s;
}

.podContainer {
  width: 50%;
  min-height: 150px;
  background-color: white;
  border: 1px grey solid;
  margin: 0 auto;
  margin-bottom: 80px;
}

/*//////////////////STEP 5//////////////////////*/

#stepFiveContainer {
  background-color: white;
  position: absolute;
  height: 100%;
  width: 100%;
  border: 60px black solid;
  overflow: hidden;
  -webkit-animation: slide-left 0.3s;
  animation: slide-left 0.3s;
}

.namingContainer {
  width: 50%;
  min-height: 150px;
  background-color: white;
  border: 1px grey solid;
  margin: 0 auto;
  margin-bottom: 80px;
}

/*//////////////////PREVIEW CONTAINER//////////////////////*/

#previewContainer {
  background-color: white;
  position: absolute;
  height: 100%;
  width: 100%;
  border: 60px black solid;
  z-index: 1;
  margin-bottom: 80px;
  /* -webkit-animation: slide-up 0.4s;
  animation: slide-up 0.4s; */
}

/* @keyframes slide-up {
  from {
    margin-top: 100%;
  }

  to {
    margin-top: 0%;
  }
}

 @-webkit-keyframes slide-up {
   from {
     margin-top: 100%;
   }

   to {
     margin-top: 0%;
   }
 } */

.exitPage {
  background-color: black;
  opacity: 0.7;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  z-index: 99;
}

#exitContainer {
  background-color: white;
  color: white;
  margin: 0 auto;
  position: absolute;
  left: 25%;
  min-height: 40%;
  min-width: 50%;
  max-width: 50%;
  border: 10px black solid;
  z-index: 100;
}

/*//////////////////////STEP NAVIGATION//////////////////////////*/

.navigationButtons {
  color: white;
  margin: 0 auto;
  position: absolute;
  width: 100%;
  height: 20%;
  bottom: 60px;
  padding: 0;
  z-index: 99;
}

#stepNavOne, #stepNavThree, #stepNavFive {
  background-color: white;
  color: black;
  margin: 0 auto;
  display: inline-block;
  position: relative;
  height: 100%;
  width: 19%;
  bottom: 0;
  padding: 0;
  border: none;
  font-size: 100px;
  font-weight: 700;
  cursor: pointer;
}

#stepNavTwo, #stepNavFour {
  background-color: black;
  color: white;
  margin: 0 auto;
  display: inline-block;
  position: relative;
  height: 100%;
  width: 19%;
  bottom: 0;
  padding: 0;
  border: none;
  font-size: 100px;
  font-weight: 700;
  cursor: pointer;
}

#stepNavOne:hover, #stepNavTwo:hover, #stepNavThree:hover,  #stepNavFour:hover, #stepNavFive:hover {
  font-size: 120px;
}

#stepNavOne:active, #stepNavTwo:active, #stepNavThree:active,  #stepNavFour:active, #stepNavFive:active {
  outline: none;
}

#editContainer {
  background-color: #ea1909;
  color: white;
  margin: 0 auto;
  display: inline-block;
  position: relative;
  height: 100%;
  width: 5%;
  padding: 0;
  border: none;
  font-size: 33px;
  font-weight: 700;
  writing-mode: vertical-rl;
  text-orientation: upright;
  vertical-align: top;
  letter-spacing: 0.5;
}
