@import url('https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600|Roboto:300,400,700');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border-collapse: collapse;
  font-family: 'Montserrat', sans-serif;
}

body {
  font-family: sans-serif;
  background-color: white;
  text-align: center;
}

#logo {
  width: 60px;
  height: 57px;
}

#logobutton {
  z-index: 99;
  position: fixed;
  left: 0;
  top: 0;
  border: none;
}

.logobutton {
  position: fixed;
  left: 0;
  top: 0;
  border: none;
  cursor: pointer;
}

.logobutton:active, #logobutton:active, .logobutton:focus, #logobutton:focus {
  box-shadow: none;
  border-style: none;
  outline: none;
}

.MainHeading {
  color: white;
  font-size: 22px;
  position: fixed;
  top: 0.2em;
  left: 2.6em;
  margin: 0.5em;
  font-weight: 600;
}

#exit {
  z-index: 99;
  position: fixed;
  right: 0;
  top: 0;
  width: 60px;
  height: 60px;
  background-color: white;
  font-weight: 600;
  font-size: 25px;
  color: black;
  padding-top: 15px;
  border: none;
}

.exitButton {
  position: fixed;
  left: 0;
  top: 0;
  border: none;
  cursor: pointer;
}

#steps {
  z-index: 99;
  position: fixed;
  left: 0;
  top: 629px;
  width: 380px;
  min-height: 60px;
  background-color: blue;
  font-weight: 600;
  font-size: 25px;
  color: white;
  padding-top: 12px;
  border: none;
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  -webkit-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
}

#steps:hover {
  height: 120px;
  font-size: 35px;
  padding-top: 35px;
}

.stepsButton {
  position: fixed;
  left: 0;
  top: 88%;
  border: none;
  cursor: pointer;
}

#wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  border: 60px black solid;
  -webkit-animation: slide-right 0.3s;
  animation: slide-right 0.3s;
}

@keyframes slide-right {
  from {
    margin-right: 100%;
  }

  to {
    margin-right: 0%;
  }
}

 @-webkit-keyframes slide-right {
   from {
     margin-right: 100%;
   }

   to {
     margin-right: 0%;
   }
 }

.previewButton {
  z-index: 99;
  position: fixed;
  right: 0;
  left: 100%;
  top: 250px;
  width: 380px;
  min-height: 60px;
  background-color: #ff0018;
  font-weight: 600;
  font-size: 25px;
  color: white;
  border: none;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  -webkit-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
}

.previewButton:hover {
  height: 120px;
  font-size: 35px;
}

.previewButton:active, .previewButton:focus {
  outline: none;
}

#buttonContainer {
  width: 100%;
  height: 100%;
  position: absolute;
}

#one {
  display: inline-block;
  position: relative;
  height: 100%;
  width: 20%;
  background-color: #ffffff;
  border: none;
  font-size: 100px;
  font-weight: 700;
}

#one:hover {
  width: 30%;
  background-color: #ff0018;
  cursor: pointer;
}

#one:active, #one:focus {
  outline: none;
}

#buttonContainer:hover > *:not(:hover) {
 width: 17.5%;
}

#two {
  display: inline-block;
  position: relative;
  width: 20%;
  height: 100%;
  background-color: #000000;
  border: none;  font-size: 100px;
  font-weight: 700;
  font-size: 100px;
  color: white;
}

#two:hover {
  width: 30%;
  background-color: #ffe501;
  cursor: pointer;
}

#two:active, #two:focus {
  outline: none;
}

#three {
  display: inline-block;
  position: relative;
  height: 100%;
  width: 20%;
  background-color: #ffffff;
  border: none;
  font-weight: 700;
  font-size: 100px;
}

#three:hover {
  width: 30%;
  background-color: #2020da;
  cursor: pointer;
}

#three:active, #three:focus {
  outline: none;
}

#four {
  display: inline-block;
  position: relative;
  height: 100%;
  width: 20%;
  background-color: #000000;
  border: none;
  font-weight: 700;
  font-size: 100px;
  color: white;
}

#four:hover {
  width: 30%;
  background-color: #0afb04;
  cursor: pointer;
}

#four:active, #four:focus {
  outline: none;
}

#five {
  display: inline-block;
  position: relative;
  height: 100%;
  width: 20%;
  background-color: #ffffff;
  border: none;
  font-weight: 700;
  font-size: 100px;
}

#five:hover {
  width: 30%;
  background-color: #f907eb;
  cursor: pointer;
}

#five:active, #five:focus {
  outline: none;
}

/*//////////////////STEP 1//////////////////////*/

#stepOneContainer {
  background-color: white;
  position: absolute;
  height: 100%;
  width: 100%;
  border: 60px black solid;
  overflow: hidden;
  -webkit-animation: slide-left 0.3s;
  animation: slide-left 0.3s;
  margin-top:0%;
}

@keyframes slide-left {
  from {
    margin-left: 100%;
  }

  to {
    margin-left: 0%;
  }
}

 @-webkit-keyframes slide-left {
   from {
     margin-left: 100%;
   }

   to {
     margin-left: 0%;
   }
 }

h1 {
  font-size: 35px;
  font-weight: 700;
  color: #2020da;
  margin: 50px;
}

#suggestions {
  display:inline-block;
  padding: 2em;
}

.identityContainer {
  width: 50%;
  min-height: 150px;
  background-color: white;
  border: 1px grey solid;
  margin: 0 auto;
  margin-bottom: 80px;
}

/*//////////////////STEP 2//////////////////////*/

#stepTwoContainer {
  background-color: white;
  position: absolute;
  height: 100%;
  width: 100%;
  border: 60px black solid;
  overflow: hidden;
  -webkit-animation: slide-left 0.3s;
  animation: slide-left 0.3s;
}

.audienceContainer {
  width: 50%;
  min-height: 150px;
  background-color: white;
  border: 1px grey solid;
  margin: 0 auto;
  margin-bottom: 80px;
}

/*//////////////////STEP 3//////////////////////*/

#stepThreeContainer {
  background-color: white;
  position: absolute;
  height: 100%;
  width: 100%;
  border: 60px black solid;
  overflow: hidden;
  -webkit-animation: slide-left 0.3s;
  animation: slide-left 0.3s;
}

.tovContainer {
  width: 50%;
  min-height: 150px;
  background-color: white;
  border: 1px grey solid;
  margin: 0 auto;
  margin-bottom: 80px;
}

/*//////////////////STEP 4//////////////////////*/

#stepFourContainer {
  background-color: white;
  position: absolute;
  height: 100%;
  width: 100%;
  border: 60px black solid;
  overflow: hidden;
  -webkit-animation: slide-left 0.3s;
  animation: slide-left 0.3s;
}

.podContainer {
  width: 50%;
  min-height: 150px;
  background-color: white;
  border: 1px grey solid;
  margin: 0 auto;
  margin-bottom: 80px;
}

/*//////////////////STEP 5//////////////////////*/

#stepFiveContainer {
  background-color: white;
  position: absolute;
  height: 100%;
  width: 100%;
  border: 60px black solid;
  overflow: hidden;
  -webkit-animation: slide-left 0.3s;
  animation: slide-left 0.3s;
}

.namingContainer {
  width: 50%;
  min-height: 150px;
  background-color: white;
  border: 1px grey solid;
  margin: 0 auto;
  margin-bottom: 80px;
}

/*//////////////////PREVIEW CONTAINER//////////////////////*/

#previewContainer {
  background-color: white;
  position: absolute;
  height: 100%;
  width: 100%;
  border: 60px black solid;
  z-index: 1;
  margin-bottom: 80px;
  /* -webkit-animation: slide-up 0.4s;
  animation: slide-up 0.4s; */
}

/* @keyframes slide-up {
  from {
    margin-top: 100%;
  }

  to {
    margin-top: 0%;
  }
}

 @-webkit-keyframes slide-up {
   from {
     margin-top: 100%;
   }

   to {
     margin-top: 0%;
   }
 } */

.exitPage {
  background-color: black;
  opacity: 0.7;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  z-index: 99;
}

#exitContainer {
  background-color: white;
  color: white;
  margin: 0 auto;
  position: absolute;
  left: 25%;
  min-height: 40%;
  min-width: 50%;
  max-width: 50%;
  border: 10px black solid;
  z-index: 100;
}

/*//////////////////////STEP NAVIGATION//////////////////////////*/

.navigationButtons {
  color: white;
  margin: 0 auto;
  position: fixed;
  width: 100%;
  height: 20%;
  bottom: 60px;
  padding: 0;
  z-index: 99;
}

#stepNavOne, #stepNavThree, #stepNavFive {
  background-color: white;
  color: black;
  margin: 0 auto;
  display: inline-block;
  position: relative;
  height: 100%;
  bottom: 0;
  padding: 0;
  border: none;
  font-size: 100px;
  font-weight: 700;
  cursor: pointer;
}

#stepNavOne {
  border-left: 60px solid black;
  width: 23%;
}

#stepNavTwo {
  width: 18%;
}

#stepNavThree {
  width: 18%;
}

#stepNavFour {
  width: 18%;
}

#stepNavFive {
  border-right: 60px solid black;
  width: 23%;
}

#stepNavTwo, #stepNavFour {
  background-color: black;
  color: white;
  margin: 0 auto;
  display: inline-block;
  position: relative;
  height: 100%;
  bottom: 0;
  padding: 0;
  border: none;
  font-size: 100px;
  font-weight: 700;
  cursor: pointer;
}

#stepNavOne:hover, #stepNavTwo:hover, #stepNavThree:hover,  #stepNavFour:hover, #stepNavFive:hover {
  background-color: #ff0018;
}

#stepNavOne:active, #stepNavTwo:active, #stepNavThree:active,  #stepNavFour:active, #stepNavFive:active {
  outline: none;
}


/*///////////////////////////START SESSION PAGE//////////////////////////////*/

#session {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #e3e3e3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

#sessionHeading {
  font-size: 80px;
  color: #232327;
  margin-bottom: 0.2em;
}

#sessionSubHeading {
  font-size: 40px;
  font-weight: 300;
}

#timer {
  font-size: 100px;
}

/*///////////////////////////CLOSING SESSION PAGE//////////////////////////////*/

#sessionClosingScreen {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #131212;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

#sessionClosedHeading {
  font-size: 80px;
  color: #232327;
  margin-bottom: 0.2em;
}

#sessionClosedSubHead {
  font-size: 40px;
  color: #e3e3e3;
  font-weight: 300;
}

#symbol {
  color: #007EF6;
  font-size: 35px;
  font-weight: 600;
  padding-top: 60px;
}

/*///////////////////////////5 STEPS MAIN STYLING///////////////////////////*/

.stepMainHeading{
  color: black;
  font-size: 18px;
}

.QuestionHeading {
  color: black;
  font-size: 40px;
  display: inline-block;
  margin-top: 10px;
  margin-right: 30px;
  margin-bottom: 15px;
}

.refreshButton {
  border: none;
  margin-bottom: 30px;
}

.refreshButton:active, .refreshButton:focus {
  outline: none;
}

.zmdi.zmdi-refresh {
  font-size: 30px;
  color: blue;
}

.zmdi.zmdi-refresh:hover {
  color: black;
}

.suggestionsHeading {
  display: inline-block;
  font-size: 10px;
  font-weight: 500;
}

.suggestionButtons {
  display: inline-block;
  min-width: 120px;
  height: 30px;
  margin: 5px;
  padding: 5px;
  background-color: white;
  border: none;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
}

.suggestionButtons:active, .suggestionButtons:focus {
  outline: none;
}

i.zmdi.zmdi-plus-circle {
  color: black;
  vertical-align: top;
}

.stepsInputField {
  margin: 40px;
  width: 22%;
  padding-bottom: 6px;
  border: none;
  border-bottom: 5px solid #e3e3e3;
  font-size: 15px;
  text-align: left;
}

.stepsInputField:active, .stepsInputField:focus, .stepsInputField:hover {
  outline: none;
  border: none;
  border-bottom: 5px solid #e3e3e3;
}

.bucketItems {
  display: inline-block;
  min-width: 120px;
  height: 30px;
  padding-top: 12px;
  background-color: white;
  border: none;
  font-size: 15px;
  font-weight: 300;
  cursor: pointer;
}

.bucketItems:active, .bucketItems:focus {
  outline: none;
}

.bucketItemsXIcon {
  font-size: 12px;
  border: none;
  margin-left: 2px;
  vertical-align: top;
}

.bucketItemsXIcon:active, .bucketItemsXIcon:focus {
  outline: none;
}

i.zmdi.zmdi-close-circle {
  color: red;
}
